{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}">Edytuj</a><br/>
        {% if user.is_superuser %}
        <a href="{% url 'post_remove' pk=post.pk %}">Usuń</a><br/>
        {% endif %}
        {% endif %}
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
